<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
    <script>

    </script>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    
    <link rel="stylesheet" type="text/css" href="~/Content/style.css?t=@DateTime.Now.ToString()">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/marquee/styles.css?t=@DateTime.Now.ToString()">
    
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/select.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />

    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.responsive.min.js"></script>


    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script>

    </head>
<body id="body">
    <div class="container-fluid">
        @RenderBody()
    </div>

    @RenderSection("scripts", false)

  
</body>
</html>
